{% extends 'index.html' %}
{% block content%}

<h2 style="color: rgb(246, 242, 242);">Register a new sample</h2>
<div >
 
    <form method="post">
    {% csrf_token %}
    <label  class="form-label">Patient name</label>
<select class="form-select" name="Patient" required>
    <option selected disabled value="">Select a patient</option>
{% for patient_id, f_name, l_name in Patient_data %}
<p>{{patient_id}}</p>
<p>{{f_name}}</p>

  <option value="{{patient_id}}">{{f_name}} {{l_name}}</option>
{% endfor %}
</select>
<br>
<label  class="form-label">Parameter group</label>
<select class="form-select" name="group" required>
    <option selected disabled value="">Select a group</option>
{% for group_name in Group_data %}
<option value="{{group_name}}">{{group_name}}</option>

{% endfor %}
</select>
<br>
<div class="d-flex justify-content-center">
<button type="submit" class="btn btn-primary w-50" >Add</button>

</div>
<br>
</form>

  {% if row_added %}
  {% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
    
  {% endif %}


</div>
{% endblock %}